<div class="container">
  <h1>Welcome, <%=@user.name %>!</h1>


  <div class="start-game">
    <h4>What do you want to study?<br>Pick a deck to start a game!</h4>
    <form action="/round/card" method="POST">
      
        <% @decks.each do |d|%>
           <input type="radio" name="deck" value="<%=d.id%>"><%= d.name%><br>
        <% end %>
      
      <input type="submit" value="Go!">
    </form>
  </div>

  <table>
    <table border="3">
    <th>Date</th>
    <th>Deck</th>
    <th>Results</th>
    <th>Score</th>
    <%@rounds.each do |r|%>
    <tr>
      <td><%=r.created_at.strftime("%m-%d-%Y")%></td>
      <td><%=Deck.find(r.deck_id).name%></td>
      <td><%= (r.num_correct) %> out of <%= r.num_cards %></td>
      <td><%=(((r.num_correct).to_f/(r.num_cards).to_f)*(100.0)).round(1)%>%</td>
    </tr>  
    <%end%>
  </table>  
</div>  
